# Solana
SOLANA_RPC_URL=https://api.devnet.solana.com
HUSH_PROGRAM_ID=HUSHvau1tXGqT1nFDUzGJpyvT1CYS8yEQV8X5LmHHu1
ANCHOR_WALLET=~/.config/solana/id.json

# MagicBlock
MAGICBLOCK_RPC_URL=https://devnet.magicblock.app

# Server
PORT=3001
DB_PATH=./data.db
NODE_ENV=development

# Next.js
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
